<%- include('./partials/header') %>
<%- include('./partials/title') %>

<div class="container-sm card-body">
    <% user.basket.reverse().forEach(item => { %>
        <% const ratingsAverage = item.product.reviews.reduce((acc, review) => acc + review.rating, 0) / item.product.reviews.length %>
        <div class="basket-item">
            <div class="basket-left d-flex align-items-center justify-content-center">
                <image src="<%= item.product.image %>"></image>
            </div>
            <div class="basket-right">
                <h5><%= item.product.name %></h5>
                <% const stars = []; for (let i = 0; i < ratingsAverage; i++) {stars.push(`<i class="fa text-warning fa-star"></i>`)} %>
                <span><%- ratingsAverage ? stars.join('') : 'No ratings' %></span> <br>
                <h6 class="mt-2">£<%= item.product.price %></h6>
                <p><%= item.product.quality %></p>
                <p>Quantity: <%= item.quantity %></p>
                <form action="<%= item._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="mx-auto btn-sm btn btn-danger"><i class="fa fa-trash"></i></button>
                </form>
            </div>
        </div>
    <% }) %>
    <% if (user.basket.length) { %>
        <form action="/create-checkout-session" method="POST">
            <div class="float-right">
                <button type="submit" id="checkout-button" class="btn mt-3 btn-primary">Checkout</button>
            </div>
        </form>
    <% } else { %>
        <h2 class="text-center">Basket Empty!</h2>
    <% } %>

</div>
<%- include('./partials/footer') %>