<%- include('../partials/header') %>
<%- include('../partials/title') %>

<div class="container card p-5 mx-auto">
    <div class="row">
        <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
            <image class="show-image border" src="<%= product.image %>"></image><br>
        </div>
        <div class="col-md-3 d-flex flex-column  justify-content-between">
                <h3 class="mb-0"><%= product.name %></h3>
                <% const ratingsAverage = product.reviews.reduce((acc, review) => acc + review.rating, 0) / product.reviews.length %>
                <% const stars = []; for (let i = 0; i < ratingsAverage; i++) {stars.push(`<i class="fa text-warning fa-star"></i>`)} %>
                <span><%- ratingsAverage ? stars.join('') : 'No ratings' %></span>
                <h4>£<%= product.price.toLocaleString() %></h4>
            <span>Quality: <%= product.quality %></span>
            <span>Category: <%= product.category %></span>
            <span>Seller: <%= product.userName %></span> <br>
            
        </div>
        <div class="col-md-3 mt-2 d-flex flex-column align-items-left">
          <span>Stock: <%= product.quantity %></span> <br> 
            <form action="<%= product._id %>/add" method="POST">
              <label class="mt-1">Quantity:</label>
              <input name="quantity" value="1" min="1" max="<%= product.quantity %>" type="number"> <br>
              <button type="submit" class="btn btn-sm px-3 mt-2 btn-warning">Add <i class="fa fa-shopping-cart"></i></button>
            </form>
            <br>
            <% if(user?.name == product.userName) { %>
                <form action="<%= product._id %>/delete?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-sm btn-danger">Delete <i class="fa fa-trash"></i></button>
                </form>
            <% } %>
          </div>
          <div class="col-md-1"></div>
        
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto mt-3">
            <p><%= product.description %></p>
        </div>

    </div>

    <div class="row">
        
    </div>

    <% if(product.reviews.length) { %>
    <h4 class="mt-4">Reviews:</h4>
    <table class="table reviews">
        <tbody>
          <% product.reviews.forEach(function(review) { %>
          <tr>
            <td><img src="<%= review.userAvatar %>" alt="User Avatar" class="rounded-circle" style="width: 50px; height: 50px;" referrerpolicy="no-referrer"></td>
            <td><%= review.userName %></td>
            <td><%= review.rating %></td>
            <td><%= review.review %></td>
            <td><%= review.date.toLocaleDateString() %></td>
            <td>
              <% if(user?._id.equals(review.user)) { %>
              <form action="<%= review._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-sm btn-danger">X</button>
              </form>
              <% } %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
        <h5>No Reviews Yet</h5>
    <% } %>
    <% if (user) { %>
        <a class="text-center" href="<%- product.id %>-new-review">New Review</a>
    <% } %>
</div>

<%- include('../partials/footer') %>