<%- include('../partials/header') %>

<image class="img-fluid rounded-circle custom-image" url="https://img.freepik.com/premium-photo/white-tshirt-white-background-front-back-view-generative-ai_446633-7047.jpg?w=740"></image>
<%= product.name %> <br>
£<%= product.price %> <br>
<%= product.quality %> <br>
<%= product.category %> <br>
<%= product.quantity %> <br>
<%- product.reviews.map(function(review) {
    return `<div>${review.rating} - ${review.review}</div>`;
}).join('') %>
<a href="<%- product.id %>-new-review">New Review</a>


<%- include('../partials/footer') %>